.start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    .asset-container {
        position: relative;
        display: flex;
        justify-content: center;
        
    }

    img {
        height: 80vh;
    }
    
    span {
        font-size: 40px;
        font-weight: 600;
        cursor: pointer;
        color: black;
        position: absolute; 
        bottom: 100px;

        &:hover {
            color: rgb(140, 15, 15);
        }
    }
}